{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
	<div class="hero-white">
		<div class="header clearfix">
			<a href="{% url 'main' %}" class="logo"></a>
			{% include 'mainapp/includes/inc_main_menu.html' %}
			<a href="#" class="search"></a>
			<a href="#" class="basket"></a>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="details">
		<div class="links clearfix">
			{% include 'mainapp/includes/inc_categories_menu.html' %}
		</div>

		<div class="products_list">
			<div class="title clearfix">
                <h2>Категория "{{ category.name|title }}"</h2>
            </div>
			<div class="category-products clearfix">
				{% for product in products %}
					<div class="block">
						<br>
						<a href="{% url 'products:product' product.pk %}">
							<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
							<div class="text">
								<img src='{% static "img/icon-hover.png" %}' alt="hover">
								<h4>{{ product.name }}</h4>
								<p>{{ product.descriptions }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="clr"></div>
<!--	<div class="category-products clearfix">-->
<!--	{% for some_product in some_products %}-->
<!--					<div class="block">-->
<!--						<br>-->
<!--						<a href="#">-->
<!--							<img src="/media/{{ some_product.image }}" alt="{{ some_product.short_desc }}">-->
<!--							<div class="text">-->
<!--								<img src='{% static "img/icon-hover.png" %}' alt="hover">-->
<!--								<h4>{{ some_product.name }}</h4>-->
<!--								<p>{{ some_product.descriptions }}</p>-->
<!--							</div>-->
<!--						</a>-->
<!--					</div>-->
<!--				{% endfor %}-->
<!--	</div>-->
{% endblock %}